# Virtual environment
venv/
.venv/
env/

# Python
__pycache__/
*.py[cod]

# Secrets
.env

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Generated ML artifacts
*.pkl
*.npy

# Generated datasets
data/raw/
data/processed/

